
#cookiecompliance-block {
  background: white;
  padding: 20px;
  border: 1px #CCC dotted;
  text-align: center;
  p {
    margin-bottom: 10px;
  }
  button {
    margin: 0 5px;
  }
  .cookiecompliance-block-logo {
    margin-bottom: 20px;
  }
}

#cookiecompliance-block.top {
  margin: 1%;
}

#cookiecompliance-block.bottom {
  position: fixed;
  right: 1%;
  bottom: 1%;
  left: 1%;
  z-index: 1000;
}